body{
    background-color: #CAD4D1;
}

.navbar-default{
    background-color: white;
    color: #25B0AF;
}
.navbar-default .navbar-nav .active a{
    background-color: #25B0AF;
    color: white;
    font-family: serif;
    font-size: 25;
}

@media(max-width: 768px){
    .navbar-default{
        background-color: white;
        color: #25B0AF;
    }
    .navbar-default .navbar-nav .active a{
        background-color: #25B0AF;
        color: white;
        border: 2px solid black;
    }
}


h1{
    color: #25B0AF;
    font-size: 40px;
    font-family: serif;
    float: right;
}

h2{
    color: #25B0AF;
    font-size: 30px;
    font-family: serif;
}

#main-img{
    float: right;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p{
  font-size: 15px;
  padding: 7px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-family: monospace;
  color: #5C6D68;
}

.main-box{
    padding: 20px;
    background: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    align-content: center;
    position: relative;
    border: 2px solid black;
}

.side-box{
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    align-content: center;
    position: relative;
    border: 2px solid black;
}

.sidebar{
    position: relative;
    height: 350px;
    width: 385px;
    align-content: center;
}

#side-img1{
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 2px solid gold;
}
#side-img1:hover{
    border: 2px solid #25B0AF;
}

#side-img2{
    position: absolute;
    top: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 2px solid gold;
}

#side-img2:hover{
    border: 2px solid gold;
}

#side-img3{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 160px;
    width: 160px;
    border: 2px solid gold;
}

#side-img3:hover{
    border: 2px solid gold;
}

#side-img4{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 160px;
    width: 160px;
    border: 2px solid gold;
}

#side-img4:hover{
    border: 2px solid gold;
}

@media(max-width: 995px){
    .sidebar{
    position: relative;
    height: 145px;
    width: auto;
    }
    #side-img1{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img1:hover{
        border: 2px solid gold;
    }
    #side-img2{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img2:hover{
        border: 2px solid gold;
    }
    #side-img3{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img3:hover{
        border: 2px solid gold;
    }
    #side-img4{
        float: left;
        position: relative;
        width: 25%;
        border: 3px solid white;
    }
    #side-img4:hover{
        border: 2px solid gold;
    }
    
    
#result-img{
    width: 500px;
    max-width: 100%;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


table{
    border-collapse: collapse;
    border: 0;
}

th, td{
    border: 0;
}

@media(max-width: 760px) {
    table{
        overflow-x: scroll;
        display: block;
    }

}